<h1>Planets</h1>

<table class="listNav">
  <tr>
    <td class="left">
      <button (click)="previous()">Previous</button>
    </td>
    <td class="center">
      {{planetCount}} / {{results.count}}
    </td>
    <td class="right">
      <button (click)="next()">Next</button>
    </td>
  </tr>
</table>

<table *ngFor="let planet of planets">
  <thead>
    <th colspan="4">{{planet.name}}</th>
  </thead>
  <tbody>
    <tr>
      <th>Rotation Period</th>
      <th>Orbital Period</th>
      <th>Diameter</th>
      <th>Climate</th>
    </tr>
    <tr>
      <td>{{planet.rotation_period}}</td>
      <td *ngIf="planet.orbital_period !== 'unknown'; else unknown">{{planet.orbital_period | number}}</td>
      <td *ngIf="planet.diameter !== 'unknown'; else unknown">{{planet.diameter | number}}</td>
      <td>{{planet.climate}}</td>
    </tr>
    <tr>
      <th>Gravity</th>
      <th>Terrain</th>
      <th>Surface Water</th>
      <th>Population</th>
    </tr>
    <tr>
      <td>{{planet.gravity}}</td>
      <td>{{planet.terrain}}</td>
      <td>{{planet.surface_water}}</td>
      <td *ngIf="planet.population !== 'unknown'; else unknown">{{planet.population | number}}</td>
      <ng-template #unknown>
        <td>unknown</td>
      </ng-template>
    </tr>
    <tr>
      <th>Residents</th>
      <th>Films</th>
      <th colspan="2"></th>
    </tr>
    <tr>
      <td *ngIf="planet.residents.length != 0; else none">
        <select ng-model="residents" >
          <option *ngFor="let resident of planet.residents" value="resident">{{resident}}</option>
        </select>
      </td>
      <td *ngIf="planet.films.length != 0; else none">
        <select ng-model="films" >
          <option *ngFor="let film of planet.films" value="film">{{film}}</option>
        </select>
      </td>
      <ng-template #none>
        <td>n/a</td>
      </ng-template>
      <td colspan="2"></td>
    </tr>
  </tbody>
</table>

<table class="listNav">
  <tr>
    <td class="left">
      <button (click)="previous()">Previous</button>
    </td>
    <td class="center">
      {{planetCount}} / {{results.count}}
    </td>
    <td class="right">
      <button (click)="next()">Next</button>
    </td>
  </tr>
</table>
  