body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: grey;
    overflow: hidden;
}

a {
    float: left;
    display: block;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}
.active {
    background-color: goldenrod;
}
.content {
    padding: 0px 20px;
}

table {
    border: solid black 0.1em;
    width: 80%;
    margin-bottom: 2em;
    border-collapse: collapse;
}

th {
    border-top: solid black 0.1em;
    text-align: left;
    font-weight: initial;
    width: 25%;
}

td {
    border-bottom: solid black 0.1em;
}

thead th {
    text-align: center;
    font-weight: bold;
}

.listNav td {
    width: 30%;
}

.listNav button {
    width: 8em;
}

.left {
    align-content: left;
    text-align: left;
}

.center {
    align-content: center;
    text-align: center;
}

.right {
    align-content: right;
    text-align: right;
}